
# sufixos de binários em fortran ignorados
*.geo
*.for
*.exe
*.ift
*.ifo

*.swo
*.swp
*.orig

*.rsf
*.rsf@
*.vpl
*.pyc
*.H
*.sgy
*.segy
*.su
*.hdr
*.hh
*.HH
*.mod
*.rsfproj
*dhead
*bdhead
**epsFig/**
**pdfFig/**

*~

*.asv
*.nav
*.snm
*.bbl
*.lof
*.lot
*.bib~*
*.out
*.log
*.backup
*.aux
*.toc
*.pckl
*.blg
*.vrb
*.synctex.gz
*.bit
*.glo
*.glx
*.gxg
*.idx
*.ilg
*.ind
*.url
*.svn


*.gz
tfile
*.asc
*.ascii
*.dat
*.bin
*.iso
*.cue

*.xlsx
*.ods
*.bkp

*.tgz
*.zip
*.tar

*.o
*.x

*.kate-swp
*.ind
*.ilg

*rec*txt

# images
*-eps-converted-to.pdf
*.svg
*.dvi
*.tiff
*.bmp
*.ppm
*.pgm
*.pbm
*.pnm

*.gif
*.pdf
*.jpeg
*.jpg
*.eps
*.ps
*.png

# videos
*.mp4
*.m4p
*.m4v
*.mpeg
*.mpg
*.mp2
*.mpe
*.mpv
*.avi
*.mov
*.wmv
*.rmvb
*.amv
*.mkv
*.flv
*.qt
*.avchd
*.swf
*.ogg
*.ogm



# audios
*.mp3
*.wma
*.midi


















